@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
	font-family: font-family: "Poppins", sans-serif;
    background-color:#FFBCE2;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}


header{
    align-items: center; /* Centraliza na vertical */
    background-color: #F277BB;
    box-sizing: border-box;
    color: #000;
    display: flex;
    flex-direction: row;
	font-family: font-family: "Poppins", sans-serif;
    left:0;
    padding: 20px 100px;  
    text-align: center;
    top:0; 
}


img {
    width: 10%;
    display: block;

}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;  
    text-align: center;
    box-sizing: border-box;
}


h1 {
    margin: 0;
    padding: 10px 0;
    font-size: 30px;
    align-items: center;
    text-align: center;

}

.inf-header{
    font-size: 10px;
    align-items: center;
    text-align: center;
    padding: 30px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0; /* Espaço entre o título e a lista */
    display: flex; 
    justify-content: center; /* Centraliza os itens na horizontal */
    gap: 10px;
}

li {
    padding: 20px;
    font-size: 30px;
}

a {
    text-decoration: none; 
    color: black;
}

.encontre{
    align-items: center;
    justify-content: center;

}


.popular{
    background: #C4CBF2;
    padding: 30px;
    border-radius: 50px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%; /* Melhor ajuste para telas menores */
    max-width: 440px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 40px;
    /*Transformando em conteiner*/
    display: flex;
    /*deixa o texto embaixo da imagem*/
    flex-direction: column;
}

.popular img {
    width: 100%;
    height: auto;
    padding-bottom: 10px;
}

.promocao{
    background: #C4CBF2;
    padding: 30px;
    border-radius: 50px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%; /* Melhor ajuste para telas menores */
    max-width: 440px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    /*Transformando em conteiner*/
    display: flex;
    /*deixa o texto embaixo da imagem*/
    flex-direction: column;
}

.promocao img {
    width: 100%;
    height: auto;
    padding-bottom: 10px;
}

section.coluna{
    flex: 1 1 100%;
    padding: 0px 5px;
}

main#album{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
}



input[type="text"], input[type="date"]{
    background-color: #ffff;
    width: 130%;
    height: 40px;
    max-width: 200px; /* Define um limite para o tamanho */
    padding: 0 0.5rem;
    margin-top: 1rem;
    outline: none;
    color: #F277BB;
    font-size: 1rem;
    border: 1px solid #161923;
    display: flex;
    /*deixa o texto embaixo da imagem*/
    flex-direction: column;
}

button {
    padding: 0.5rem 1rem;
    border-radius: 20px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    background-color: #F277BB;
    width: 130%;
    height: 40px;
    max-width: 200px; /* Define um limite para o tamanho */
    margin-top: 1rem;
    outline: none;
    color: white;
    border: 1px solid #161923;
    display: flex;
    align-items: center;
    justify-content: center;
}


:placeholder-shown{
    color: #F277BB;
}


footer{
    background-color: #F277BB;
    position: absolute;
    left:0;
    width: 100vw;
    padding: 20px 100px;
    display: flex; /* Exibe elementos em linha */
    align-items: center;
    justify-content: center; 
    box-sizing: border-box;
    text-align: center;
}

p footer{
    font-size: 20px;
    text-align: center;
}